<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>simply put, you're a loser.</h3>
                <h1>FOOSBALL WITH TWO BALLS</h1>
                <h5>yup, that's it. loseball is foosball with two balls. that's it. yes, this entire site is dedicated to that.</h5>
                <h5>once you go loseball, you never win.</h5>			
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->